* {
  padding: 0;
  margin: 0;
  font-family: Microsoft JhengHei, serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 100px auto;
      grid-template-columns: auto 100px auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}

nav a img {
  width: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav a img:hover {
  -webkit-transform: scaleX(-1.1) scaleY(1.1);
          transform: scaleX(-1.1) scaleY(1.1);
}

.banner {
  height: 100vh;
  background-image: url(./img/banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: -100px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner div {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.banner div h1 {
  font-size: 72px;
}

.banner div h2 {
  padding: 30px 0;
}

.content {
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.content * {
  color: #333;
}

.content .pic {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: pic;
}

.content .txt {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: txt;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .txt h2 {
  padding: 20px 0;
}

.content .txt p {
  line-height: 1.8;
  margin-bottom: 30px;
}

.content .txt a {
  border: 1px solid #333;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 30px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.content .txt a:hover {
  background-color: #333;
  color: #ffffff;
}

#content-1 {
      grid-template-areas: "pic txt";
}

#content-2 {
      grid-template-areas: "txt pic";
}

#content-3 {
      grid-template-areas: "pic txt";
}

.icon-area {
  background-color: #f8f9fa;
}

.icon-area * {
  color: #333;
}

.icon-area h1 {
  font-size: 72px;
  text-align: center;
  padding: 30px 0;
}

.icon-area div {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 20px 0;
}

.icon-area div div {
  display: block;
  text-align: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.icon-area div div img {
  display: block;
  width: 64px;
}

.icon-area div div span {
  display: block;
  padding: 10px 0;
}

.icon-area div div:hover {
  -webkit-filter: invert(56%) sepia(38%) saturate(675%) hue-rotate(123deg) brightness(88%) contrast(92%);
          filter: invert(56%) sepia(38%) saturate(675%) hue-rotate(123deg) brightness(88%) contrast(92%);
}

footer {
  background-color: #333;
  text-align: center;
  padding: 30px 0;
}

footer img {
  width: 100px;
}

footer p {
  font-size: 10px;
  padding: 10px 0;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
}

.menu .fa-bars {
  font-size: 56px;
  margin-right: 20px;
}

.menu:active .menu-box,
.menu:hover .menu-box {
  right: 0;
}

.menu .menu-box {
  position: absolute;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100vh;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu .menu-box ul {
  list-style: none;
}

.menu .menu-box ul li {
  padding: 30px;
}

.menu .menu-box ul li a {
  color: #333;
  text-decoration: none;
  font-size: 36px;
}

.menu .menu-box ul li a.current {
  background-color: #2ca292;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 769px) {
  nav {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  nav ul {
    display: none;
  }
  .menu {
    display: block;
  }
  #content-1,
  #content-2,
  #content-3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "txt" "pic";
  }
  #content-1 .pic,
  #content-2 .pic,
  #content-3 .pic {
    text-align: center;
  }
  #content-1 .txt,
  #content-2 .txt,
  #content-3 .txt {
    padding: 0 100px;
  }
  .icon-area div {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */