// 變數
$color-black: #333;
$bg-color: #f8f9fa;

// 全域
* {
	padding: 0;
	margin: 0;
	font-family: Microsoft JhengHei, serif;
	box-sizing: border-box;
	color: #ffffff;
}

// navbar
nav {
	display: grid;
	grid-template-columns: auto 100px auto;
	text-align: center;
	align-items: center;
	position: sticky;
	top: 0;
	height: 100px;
	max-width: 1200px;
	margin: 0 auto;

	ul {
		list-style: none;

		li {
			display: inline-block;
			transition: 0.5s;

			&:hover {
				transform: scale(1.1);
			}
		}
	}

	a {
		text-decoration: none;
		color: #ffffff;
		padding: 10px;

		img {
			width: 100px;
			transition: 0.5s;

			&:hover {
				transform: scaleX(-1.1) scaleY(1.1);
			}
		}
	}
}

// banner
.banner {
	height: 100vh;
	background-image: url(./img/banner.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin-top: -100px;
	display: grid;
	align-items: center;

	div {
		width: 800px;
		margin: 0 auto;
		text-align: center;

		h1 {
			font-size: 72px;
		}

		h2 {
			padding: 30px 0;
		}
	}
}

// content
.content {
	max-width: 1200px;
	display: grid;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr;

	* {
		color: $color-black;
	}

	.pic {
		grid-area: pic;
	}

	.txt {
		grid-area: txt;
		display: grid;
		align-items: center;

		h2 {
			padding: 20px 0;
		}

		p {
			line-height: 1.8;
			margin-bottom: 30px;
		}

		a {
			border: 1px solid $color-black;
			text-decoration: none;
			padding: 10px 30px;
			border-radius: 30px;
			transition: 0.8s;

			&:hover {
				background-color: $color-black;
				color: #ffffff;
			}
		}
	}
}

#content-1 {
	grid-template-areas: "pic txt";
}

#content-2 {
	grid-template-areas: "txt pic";
}

#content-3 {
	grid-template-areas: "pic txt";
}

// 圖示
.icon-area {
	background-color: $bg-color;

	* {
		color: $color-black;
	}

	h1 {
		font-size: 72px;
		text-align: center;
		padding: 30px 0;
	}

	div {
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		padding: 20px 0;

		div {
			display: block;
			text-align: center;
			transition: 0.8s;

			img {
				display: block;
				width: 64px;
			}
			span {
				display: block;
				padding: 10px 0;
			}

			&:hover {
				filter: invert(56%) sepia(38%) saturate(675%) hue-rotate(123deg)
					brightness(88%) contrast(92%);
			}
		}
	}
}

// 頁尾

footer {
	background-color: $color-black;
	text-align: center;
	padding: 30px 0;

	img {
		width: 100px;
	}

	p {
		font-size: 10px;
		padding: 10px 0;
	}
}

// RWD MENU
.menu {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	padding: 20px;

	.fa-bars {
		font-size: 56px;
		margin-right: 20px;
	}

	// 啟動MENU效果
	&:active .menu-box,
	&:hover .menu-box {
		right: 0;
	}

	.menu-box {
		position: absolute;
		top: 0;
		right: -500px;
		width: 500px;
		height: 100vh;
		background-color: #ffffff;
		transition: 0.5s;

		ul {
			list-style: none;

			li {
				padding: 30px;

				a {
					color: $color-black;
					text-decoration: none;
					font-size: 36px;
				}

				a.current {
					background-color: #2ca292;
					display: inline-block;
					width: 100%;
					padding: 10px 20px;
					border-radius: 30px;
					text-align: center;
					color: #ffffff;
				}
			}
		}
	}
}

// ============= RWD =============

// mobile
@media screen and (max-width: 768px) {
}

// ipad
@media screen and (min-width: 769px) {
	nav {
		grid-template-columns: auto;

		ul {
			display: none;
		}
	}

	.menu {
		display: block;
	}

	#content-1,
	#content-2,
	#content-3 {
		grid-template-columns: 1fr;
		grid-template-areas: "txt" "pic";

		.pic {
			text-align: center;
		}

		.txt {
			padding: 0 100px;
		}
	}

	.icon-area {
		div {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

// PC
@media screen and (min-width: 1025px) {
}
