* {
    padding: 0;
    margin: 0;
    font-family: Microsoft JhengHei, serif;
    box-sizing: border-box;
}

// navbar
nav {
    display: grid;
    grid-template-columns: auto 100px auto;
    text-align: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 100px;
    max-width: 1200px;
    margin: 0 auto;

    ul {
        list-style: none;

        li {
            display: inline-block;
            transition: 0.5s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    a {
        text-decoration: none;
        color: #ffffff;
        padding: 10px;
    
        img {
            width: 100px;
            transition: 0.5s;

            &:hover {
                transform: scaleX(-1.1) scaleY(1.1);
            }
        }
    }
}


// banner
.banner {
    height: 100vh;
    background-image: url(/img/banner.jpg);
    background-size: cover;
    margin-top: -100px;
}